# Electron's version.
target=2.0.8
# The architecture of Electron, can be ia32 or x64.
arch=x64
target_arch=x64
# Download headers for Electron.
disturl=https://atom.io/download/electron
# Tell node-pre-gyp that we are building for Electron.
runtime=electron
# Tell node-pre-gyp to build module from source code.
build_from_source=true
