/* scroll bar */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

/* global font, etc */

body {
    overflow: hidden;
    font-family: Roboto, 'Noto Sans', 'Segoe UI', 'Noto Sans CJK SC',
        'Source Han Sans CN', 'WenQuanYi Micro Hei', 'WenQuanYi Zen Hei',
        'Droid Sans Fallback', 'Microsoft Yahei', sans-serif;
}

.mono-font {
    font-family: 'Roboto Mono', 'Noto Sans Mono', 'Droid Sans Mono',
        'Ubuntu Mono', 'Consolas', 'DejaVu Sans Mono', 'Lucida Console', Roboto,
        'Noto Sans', 'Segoe UI', 'Noto Sans CJK SC', 'Source Han Sans CN',
        'Microsoft Yahei', sans-serif;
}

/* material icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/font/material-icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}