/* tab slide */

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.15s;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}

/* page up/down */

.fade-up-enter-active,
.fade-up-leave-active,
.fade-down-enter-active,
.fade-down-leave-active {
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-up-enter,
.fade-down-leave-active {
    transform: translate(0, 64px);
    opacity: 0;
}

.fade-down-leave-active,
.fade-up-enter-active {
    z-index: 1;
}

.fade-up-leave-active,
.fade-down-enter-active {
    z-index: 0;
}

/* player-bar scale */

.player-in-enter-active,
.player-in-leave-active,
.player-out-enter-active,
.player-out-leave-active {
    transition-duration: 0.5s;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.player-in-enter-active,
.player-out-leave-active {
    z-index: 1;
    transform-origin: 0 calc(100% + 64px);
}

.player-in-enter,
.player-out-leave-to {
    z-index: 1;
    transform: scale(0.1);
}

.player-out-enter,
.player-in-leave-to {
    opacity: 0;
}

.player-out-enter-to {
    z-index: 0;
    opacity: 1;
}
